<div class="devise_container">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="devise_content">
    <h4>アカウント登録メール再送</h4>
    <div class="devise_email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
    <div class="devise_button">
      <%= f.submit t('.resend_confirmation_instructions') %>
    </div>
    <% end %>
    <hr>
    <div class="devise_link">
      <%= link_to "ログイン", new_user_session_path %>
      <br>
      <%= link_to "アカウント登録", new_user_registration_path %>
    </div>
  </div>
</div>
<%= render "devise/shared/error_messages", resource: resource %>
