<div class="sign_up_container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="sign_up_content">
  <div class="sign_up_name">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="sign_up_email">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="sign_up_password">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="sign_up_password">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="sign_up_create">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>
<hr>
<div class="sign_up_login">
  <%= link_to "ログイン", new_user_session_path %>
  <br>
  <%= link_to "登録メールを受け取っていませんか？", new_user_confirmation_path %>
</div>

</div>
</div>

<%= render "devise/shared/error_messages", resource: resource %>
