<div class="nested-fields">
  <div class="row">
  <div class="col-md-4">
    <%= f.radio_button :sex_id, 1 %>
    <%= f.label :sex ,"男性" %>
    <%= f.radio_button :sex_id, 2 %>
    <%= f.label :sex ,"女性　" %>
    <% @facility.errors.full_messages_for(:"chairs.sex_id").each do |msg| %>
    <li class=error_message><%= msg %></li>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= f.radio_button :rest_area_id, 1 %>
    <%= f.label :rest_area_id ,"室内" %>
    <%= f.radio_button :rest_area_id, 2 %>
    <%= f.label :rest_area_id ,"室外　" %>
    <% @facility.errors.full_messages_for(:"chairs.rest_area_id").each do |msg| %>
    <li class=error_message><%= msg %></li>
    <% end %>
  </div>
  </div>
  <div class="row">
  <div class="col-md">
    <%= f.label :bath ,"風呂イス" %><br>
    <%= f.number_field :bath,class:"form-control" , placeholder:'数字を入力'%>
  </div>
  <div class="col-md">
    <%= f.label :deck ,"デッキチェア" %><br>
    <%= f.number_field :deck,class:"form-control" , placeholder:'数字を入力'%>
  </div>
  <div class="col-md">
    <%= f.label :relax ,"リラックス" %><br>
    <%= f.number_field :relax,class:"form-control" , placeholder:'数字を入力'%>
  </div>
  <div class="col-md">
    <%= f.label :bench ,"ベンチ" %><br>
    <%= f.number_field :bench,class:"form-control" , placeholder:'数字を入力'%>
  </div>
  <div class="col-md">
    <%= f.label :bench_non_backrest ,"ベンチ(背なし)" %><br>
    <%= f.number_field :bench_non_backrest,class:"form-control" , placeholder:'数字を入力'%>
  </div>
  <% @facility.errors.full_messages_for(:"chairs.bath").each do |msg| %>
  <li class=error_message><%= msg %></li>
  <% end %>
  <% @facility.errors.full_messages_for(:"chairs.deck").each do |msg| %>
  <li class=error_message><%= msg %></li>
  <% end %>
  <% @facility.errors.full_messages_for(:"chairs.relax").each do |msg| %>
  <li class=error_message><%= msg %></li>
  <% end %>
  <% @facility.errors.full_messages_for(:"chairs.bench").each do |msg| %>
  <li class=error_message><%= msg %></li>
  <% end %>
  <% @facility.errors.full_messages_for(:"chairs.bench_non_backrest").each do |msg| %>
  <li class=error_message><%= msg %></li>
  <% end %>
  </div>
  <div class="col-md-6">
    <%= f.label :comment ,"コメント" %><br>
    <%= f.text_area :comment,class:"form-control" %>
    <div class="form-text"> 例）階段状で座れるスペースあり。最上段では横になれる。</div>
  </div>

  <%= link_to_remove_association "入力欄削除", f %>
</div>
