<h2>施設情報</h2>
<%= form_with model: @facility ,local: true do |form| %>
  <div class="facility_field">
    <%= form.label :name ,"施設名" %>
    <%= form.text_field :name %>
  </div>
  <div class="facility_field">
    <%= form.label :prefecture ,"県名" %>
    <%= form.text_field :prefecture %>
  </div>
  <div class="facility_field">
    <%= form.label :address ,"住所" %>
    <%= form.text_area :address %>
  </div>
  <div class="facility_field">
    <%= form.label :homepage ,"ホームページ" %>
    <%= form.text_field :homepage %>
  </div>
  <div class="facility_field">
    <%= form.label :business_hours ,"営業時間" %>
    <%= form.text_area :business_hours %>
  </div>
  <div class="facility_field">
    <%= form.label :holiday ,"定休日" %>
    <%= form.text_area :holiday %>
  </div>
  <div class="facility_field">
    <%= form.label :fee ,"利用料金" %>
    <%= form.text_area :fee %>
  </div>
  <div class="facility_field">
    <%= form.label :payment ,"支払い方法" %>
    <%= form.text_area :payment %>
  </div>
  <div class="facility_field">
    <%= form.label :comment ,"備考" %>
    <%= form.text_area :comment %>
  </div>
  <%= form.submit "施設情報登録" %>


  <h2>サウナ情報</h2>
  <div class="sauna">
    <%= form.fields_for :saunas do |sauna| %>
      <% render "sauna_fields",f: sauna %>
    <% end %>
  </div>
  <div id="detail-association-insertion-point_sauna"></div>
  <%= link_to_add_association 'サウナ追加', form, :saunas,
    data: {
      association_insertion_node: '#detail-association-insertion-point_sauna',
      association_insertion_method: 'after' } %>

<h2>水風呂情報</h2>
<div class="water_bath">
  <%= form.fields_for :water_baths do |water| %>
    <% render "water_bath_fields",f: water %>
  <% end %>
</div>
<div id="detail-association-insertion-point_water"></div>
<%= link_to_add_association '水風呂追加', form, :water_baths,
  data: {
    association_insertion_node: '#detail-association-insertion-point_water',
    association_insertion_method: 'after' } %>

 <h2>休憩エリア情報</h2>
 <div class="chair">
   <%= form.fields_for :chairs do |chair| %>
     <% render "chair_fields",f: chair %>
   <% end %>
 </div>
 <div id="detail-association-insertion-point_chair"></div>
 <%= link_to_add_association '設備追加', form, :chairs,
   data: {
     association_insertion_node: '#detail-association-insertion-point_chair',
     association_insertion_method: 'after' } %>


  <%= form.submit "施設情報登録" %>
<% end %>
