<h2>施設情報</h2>
<%= form_with model: @facility ,local: true do |form| %>
  <div class="facility_field">
    <%= form.label :name ,"施設名" %>
    <%= form.text_field :name %>
  </div>
  <div class="facility_field">
    <%= form.label :prefecture ,"県名" %>
    <%= form.text_field :prefecture %>
  </div>
  <div class="facility_field">
    <%= form.label :address ,"住所" %>
    <%= form.text_area :address %>
  </div>
  <div class="facility_field">
    <%= form.label :homepage ,"ホームページ" %>
    <%= form.text_field :homepage %>
  </div>
  <div class="facility_field">
    <%= form.label :business_hours ,"営業時間" %>
    <%= form.text_area :business_hours %>
  </div>
  <div class="facility_field">
    <%= form.label :holiday ,"定休日" %>
    <%= form.text_area :holiday %>
  </div>
  <div class="facility_field">
    <%= form.label :fee ,"利用料金" %>
    <%= form.text_area :fee %>
  </div>
  <div class="facility_field">
    <%= form.label :payment ,"支払い方法" %>
    <%= form.text_area :payment %>
  </div>
  <div class="facility_field">
    <%= form.label :comment ,"備考" %>
    <%= form.text_area :comment %>
  </div>
  <%= form.submit "施設情報登録" %>

  <h2>サウナ情報</h2>
  <%= form.fields_for :saunas do |sauna| %>
    <div class="sauna_field">
      <%= sauna.label :sex ,"男性" %>
      <%= sauna.radio_button :sex, :"男性" %>
      <%= sauna.label :sex ,"女性" %>
      <%= sauna.radio_button :sex, :"女性" %>
    </div>
    <div class="sauna_field">
      <%= sauna.label :temperature ,"温度" %><br>
      <%= sauna.number_field :temperature %>
    </div>
    <div class="sauna_field">
      <%= sauna.label :intern ,"収容人数" %><br>
      <%= sauna.number_field :intern %>
    </div>
    <div class="sauna_field">
      <%= sauna.label :comment ,"コメント" %><br>
      <%= sauna.text_area :comment %>
    </div>
  <% end %>

  <h2>水風呂情報</h2>
  <%= form.fields_for :water_baths do |water| %>
    <div class="water_field">
      <%= water.label :sex ,"男性" %>
      <%= water.radio_button :sex, :"男性" %>
      <%= water.label :sex ,"女性" %>
      <%= water.radio_button :sex, :"女性" %>
    </div>
    <div class="water_field">
      <%= water.label :temperature ,"温度" %><br>
      <%= water.number_field :temperature %>
    </div>
    <div class="water_field">
      <%= water.label :intern ,"収容人数" %><br>
      <%= water.number_field :intern %>
    </div>
    <div class="water_field">
      <%= water.label :comment ,"コメント" %><br>
      <%= water.text_area :comment %>
    </div>
  <% end %>
  <%= form.submit "施設情報登録" %>
<% end %>
