<h2>施設情報</h2>
<%= form_with model: @facility ,local: true do |form| %>
  <div class="facility_field">
    <%= form.label :name ,"施設名" %>
    <%= form.text_field :name %>
  </div>
  <div class="facility_field">
    <%= form.label :prefecture ,"県名" %>
    <%= form.text_field :prefecture %>
  </div>
  <div class="facility_field">
    <%= form.label :address ,"住所" %>
    <%= form.text_area :address %>
  </div>
  <div class="facility_field">
    <%= form.label :homepage ,"ホームページ" %>
    <%= form.text_field :homepage %>
  </div>
  <div class="facility_field">
    <%= form.label :business_hours ,"営業時間" %>
    <%= form.text_area :business_hours %>
  </div>
  <div class="facility_field">
    <%= form.label :holiday ,"定休日" %>
    <%= form.text_area :holiday %>
  </div>
  <div class="facility_field">
    <%= form.label :fee ,"利用料金" %>
    <%= form.text_area :fee %>
  </div>
  <div class="facility_field">
    <%= form.label :payment ,"支払い方法" %>
    <%= form.text_area :payment %>
  </div>
  <div class="facility_field">
    <%= form.label :comment ,"備考" %>
    <%= form.text_area :comment %>
  </div>
  <%= form.submit "施設情報登録" %>

  <div class="sauna">
    <%= form.fields_for :saunas do |sauna| %>
      <% render "sauna_fields",f: sauna %>
    <% end %>
  </div>
  <div id="detail-association-insertion-point"></div>
  <%= link_to_add_association 'サウナ追加', form, :saunas,
    data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'append' }
   %>

<div class="water_bath">
  <%= form.fields_for :water_baths do |water| %>
    <% render "water_bath_fields",f: water %>
  <% end %>
</div>
<div id="detail-association-insertion-point"></div>
<%= link_to_add_association '水風呂追加', form, :water_baths,
  data: {
    association_insertion_node: '#detail-association-insertion-point',
    association_insertion_method: 'append' }
 %>

  <h2>休憩エリア情報</h2>
  <%= form.fields_for :chairs do |chair| %>
    <h3>室内</h3>
    <div class="rest_field">
      <%= chair.label :sex_id ,"男性" %>
      <%= chair.radio_button :sex_id, 1 %>
      <%= chair.label :sex_id ,"女性" %>
      <%= chair.radio_button :sex_id, 2 %>
    </div>
    <div class="rest_field">
      <%= chair.label :rest_area_id ,"室内" %>
      <%= chair.radio_button :rest_area_id, 1 %>
      <%= chair.label :rest_area_id ,"室外" %>
      <%= chair.radio_button :rest_area_id, 2 %>
    </div>
    <div class="rest_field">
      <%= chair.label :bath ,"風呂イス" %><br>
      <%= chair.number_field :bath %>
    </div>
    <div class="rest_field">
      <%= chair.label :deck ,"デッキチェア" %><br>
      <%= chair.number_field :deck %>
    </div>
    <div class="rest_field">
      <%= chair.label :relax ,"リラックスチェア" %><br>
      <%= chair.number_field :relax %>
    </div>
    <div class="rest_field">
      <%= chair.label :bench ,"ベンチ" %><br>
      <%= chair.number_field :bench %>
    </div>
    <div class="rest_field">
      <%= chair.label :bench_non_backrest ,"背もたれなしベンチ" %><br>
      <%= chair.number_field :bench_non_backrest %>
    </div>
    <div class="rest_field">
      <%= chair.label :comment ,"コメント" %><br>
      <%= chair.text_area :comment %>
    </div>
  <% end %>

  <%= form.submit "施設情報登録" %>
<% end %>
