<div class="nested_fields">
  <div class="water_field">
    <%= f.radio_button :sex_id, 1 %>
    <%= f.label :sex ,"男性" %>
    <%= f.radio_button :sex_id, 2 %>
    <%= f.label :sex ,"女性　" %>
  </div>
  <div class="water_field">
    <%= f.label :temperature ,"温度" %>
    <%= f.number_field :temperature %>
  </div>
  <div class="water_field">
    <%= f.label :intern ,"収容人数" %>
    <%= f.number_field :intern %>
  </div>
  <div class="water_field">
    <%= f.label :comment ,"コメント" %>
    <%= f.text_area :comment %>
  </div>
    <%= link_to_remove_association "削除", f %>
</div>
