<div class="nested-fields">
  <div class="col-md-4">
    <%= f.radio_button :sex_id, 1 %>
    <%= f.label :sex ,"男性" , class:"col-form-label"%>
    <%= f.radio_button :sex_id, 2 %>
    <%= f.label :sex ,"女性　" , class:"col-form-label"%>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :temperature ,"温度", class:"col-form-label" %>
      <%= f.number_field :temperature,class:"form-control" , placeholder:'数字を入力'%>
    </div>
    <div class="col-md-3">
      <%= f.label :intern ,"収容人数", class:"col-form-label" %>
      <%= f.number_field :intern ,class:"form-control", placeholder:'数字を入力'%>
    </div>
    <div class="col-md-6">
      <%= f.label :comment ,"コメント", class:"col-form-label" %>
      <%= f.text_area :comment,class:"form-control" %>
      <div class="form-text"> 例）水深70~130cm</div>
    </div>
    <div class="nested_fields">
      <%= link_to_remove_association "入力欄削除", f %>
    </div>
  </div>
</div>
