<% if user_signed_in? %>
  <%= link_to '施設登録' , new_facility_path %>
<% end %>
<br>
<div class="search_container">
  <h3>検索</h3>
<%= search_form_for @chair, url: facilities_path do |f| %>
  <div class="col-md-12">
    <%= f.search_field :facility_name ,placeholder:"東京 かるまる", class:"form-control form-control-lg"%>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :chair, '場所' %>
      <%= f.radio_button :rest_area_id_eq, '', checked: true ,class:"btn-check",name:"area",id:"none"%>
      <%= f.label :chairs_rest_area_id, '未選択' ,class:"btn btn-outline-success" ,for:"none"%>
      <%= f.radio_button :rest_area_id_eq, 1 ,class:"btn-check",name:"area",id:"inside"%>
      <%= f.label :chairs_rest_area_id, '室内' ,class:"btn btn-outline-success" , for:"inside"%>
      <%= f.radio_button :rest_area_id_eq, 2 ,class:"btn-check",name:"area",id:"outside"%>
      <%= f.label :chairs_rest_area_id, '室外' ,class:"btn btn-outline-success" , for:"outside"%>
    </div>
    <div class="col-md-6">
      <%= f.label :chair, '性別' %>
      <%= f.radio_button :sex_id_eq, '' ,class:"btn-check",name:"sex",id:"not" %>
      <%= f.label :chairs_sex_id, '未選択' ,class:"btn btn-outline-dark", for:"not"%>
      <%= f.radio_button :sex_id_eq, 1 ,class:"btn-check",name:"sex",id:"male"%>
      <%= f.label :chairs_sex_id, '男性' ,class:"btn btn-outline-primary", for:"male"%>
      <%= f.radio_button :sex_id_eq, 2 ,class:"btn-check",name:"sex",id:"female"%>
      <%= f.label :chairs_sex_id, '女性' ,class:"btn btn-outline-danger", for:"female"%>
    </div>
  </div>
  <hr>
  <div class="search_field">
    <%= f.label :chair, '設備' %>
    <%= f.check_box :bath_not_in, include_hidden: false ,class:"btn-check" ,id:"bath"%>
    <%= f.label :bath, '風呂イス' ,class:"btn btn-primary btn_size", for:"bath"%>
    <%= f.check_box :deck_not_in, include_hidden: false ,class:"btn-check" ,id:"deck"%>
    <%= f.label :deck, 'デッキチェア' ,class:"btn btn-primary btn_size", for:"deck"%>
    <%= f.check_box :relax_not_in, include_hidden: false ,class:"btn-check" ,id:"relax"%>
    <%= f.label :relax, 'リクライニング' ,class:"btn btn-primary btn_size", for:"relax"%>
    <%= f.check_box :bench_not_in, include_hidden: false ,class:"btn-check" ,id:"bench"%>
    <%= f.label :bench, 'ベンチ' ,class:"btn btn-primary btn_size", for:"bench"%>
    <%= f.check_box :bench_non_backrest_not_in, include_hidden: false ,class:"btn-check" ,id:"bench_non"%>
    <%= f.label :bench_non_backrest, 'ベンチ(背なし)' ,class:"btn btn-primary btn_size", for:"bench_non"%>
  </div>
<br>
  <%= f.submit "search",name: :search,value: "search"%>
<% end %>
</div>
<div class="new_review_container">
<hr>
<h3>最近評価された施設</h3>
<% @new_reviews.each do |review| %>
  <div class="facility_review">
  <%= link_to facility_path(review.facility.id) do %>
    <%= review.facility.name %>
    <%= review.facility.prefecture + review.facility.address %>
  <% end %>
  <br>
  <%= link_to review_path(review.id) do %>
    <%= "#{review.user.name}さんの評価："%>
    <%= "★" * (review.dry + review.light + review.wide) %><br>
    <%= "#{review.comment}" %>
  <% end %>
  </div>
<% end %>
</div>
<div class="new_facility_container">
  <hr>
<h3>最近更新された施設</h3>
<% @new_facilities.each do |facility| %>
  <%= link_to facility_path(facility.id) do %>
    <%= facility.name %>
    <%= facility.prefecture + facility.address %>
  <% end %>
  <br>
<% end %>
<br>
<%= link_to "全ての施設を見る" , facilities_path %>
</div>

<div class="country_container">

<hr>
<h3>都道府県</h3>
<%= link_to '北海道', controller: "facilities", action: "index", q: { prefecture_cont: '北海道' } %>
<br>
<%= link_to '青森', controller: "facilities", action: "index", q: { prefecture_cont: '青森' } %>
<%= link_to '岩手', controller: "facilities", action: "index", q: { prefecture_cont: '岩手' } %>
<%= link_to '宮城', controller: "facilities", action: "index", q: { prefecture_cont: '宮城' } %>
<%= link_to '秋田', controller: "facilities", action: "index", q: { prefecture_cont: '秋田' } %>
<%= link_to '山形', controller: "facilities", action: "index", q: { prefecture_cont: '山形' } %>
<%= link_to '福島', controller: "facilities", action: "index", q: { prefecture_cont: '福島' } %>
<br>
<%= link_to '茨城', controller: "facilities", action: "index", q: { prefecture_cont: '茨城' } %>
<%= link_to '栃木', controller: "facilities", action: "index", q: { prefecture_cont: '栃木' } %>
<%= link_to '群馬', controller: "facilities", action: "index", q: { prefecture_cont: '群馬' } %>
<%= link_to '埼玉', controller: "facilities", action: "index", q: { prefecture_cont: '埼玉' } %>
<%= link_to '千葉', controller: "facilities", action: "index", q: { prefecture_cont: '千葉' } %>
<%= link_to '東京', controller: "facilities", action: "index", q: { prefecture_cont: '東京' } %>
<%= link_to '神奈川', controller: "facilities", action: "index", q: { prefecture_cont: '神奈川' } %>
<br>
<%= link_to '新潟', controller: "facilities", action: "index", q: { prefecture_cont: '新潟' } %>
<%= link_to '富山', controller: "facilities", action: "index", q: { prefecture_cont: '富山' } %>
<%= link_to '石川', controller: "facilities", action: "index", q: { prefecture_cont: '石川' } %>
<%= link_to '福井', controller: "facilities", action: "index", q: { prefecture_cont: '福井' } %>
<%= link_to '山梨', controller: "facilities", action: "index", q: { prefecture_cont: '山梨' } %>
<%= link_to '長野', controller: "facilities", action: "index", q: { prefecture_cont: '長野' } %>
<br>
<%= link_to '岐阜', controller: "facilities", action: "index", q: { prefecture_cont: '岐阜' } %>
<%= link_to '静岡', controller: "facilities", action: "index", q: { prefecture_cont: '静岡' } %>
<%= link_to '愛知', controller: "facilities", action: "index", q: { prefecture_cont: '愛知' } %>
<%= link_to '三重', controller: "facilities", action: "index", q: { prefecture_cont: '三重' } %>
<br>
<%= link_to '滋賀', controller: "facilities", action: "index", q: { prefecture_cont: '滋賀' } %>
<%= link_to '京都', controller: "facilities", action: "index", q: { prefecture_cont: '京都' } %>
<%= link_to '大阪', controller: "facilities", action: "index", q: { prefecture_cont: '大阪' } %>
<%= link_to '兵庫', controller: "facilities", action: "index", q: { prefecture_cont: '兵庫' } %>
<%= link_to '奈良', controller: "facilities", action: "index", q: { prefecture_cont: '奈良' } %>
<%= link_to '和歌山', controller: "facilities", action: "index", q: { prefecture_cont: '和歌山' } %>
<br>
<%= link_to '鳥取', controller: "facilities", action: "index", q: { prefecture_cont: '鳥取' } %>
<%= link_to '島根', controller: "facilities", action: "index", q: { prefecture_cont: '島根' } %>
<%= link_to '岡山', controller: "facilities", action: "index", q: { prefecture_cont: '岡山' } %>
<%= link_to '広島', controller: "facilities", action: "index", q: { prefecture_cont: '広島' } %>
<%= link_to '山口', controller: "facilities", action: "index", q: { prefecture_cont: '山口' } %>
<%= link_to '徳島', controller: "facilities", action: "index", q: { prefecture_cont: '徳島' } %>
<%= link_to '香川', controller: "facilities", action: "index", q: { prefecture_cont: '香川' } %>
<%= link_to '愛媛', controller: "facilities", action: "index", q: { prefecture_cont: '愛媛' } %>
<%= link_to '高知', controller: "facilities", action: "index", q: { prefecture_cont: '高知' } %>
<br>
<%= link_to '福岡', controller: "facilities", action: "index", q: { prefecture_cont: '福岡' } %>
<%= link_to '佐賀', controller: "facilities", action: "index", q: { prefecture_cont: '佐賀' } %>
<%= link_to '長崎', controller: "facilities", action: "index", q: { prefecture_cont: '長崎' } %>
<%= link_to '熊本', controller: "facilities", action: "index", q: { prefecture_cont: '熊本' } %>
<%= link_to '大分', controller: "facilities", action: "index", q: { prefecture_cont: '大分' } %>
<%= link_to '宮崎', controller: "facilities", action: "index", q: { prefecture_cont: '宮崎' } %>
<%= link_to '鹿児島', controller: "facilities", action: "index", q: { prefecture_cont: '鹿児島' } %>
<%= link_to '沖縄', controller: "facilities", action: "index", q: { prefecture_cont: '沖縄' } %>
</div>
