<% if user_signed_in? %>
  <%= link_to '施設登録' , new_facility_path %>
<% end %>
<br>
<%= form_with url: facilities_path do |f| %>
  <div class="search_field">
    <%= f.label :address ,"キーワード" %>
    <%= f.text_field :address ,placeholder:"かるまる、池袋、東京"%>
  </div>
  <div class="search_field">
    <%= f.label :rest_area, '設備' %>
    <%= f.check_box :bath_chair %>
    <%= f.label :bath_chair, '風呂イス' %>
    <%= f.check_box :deck_chair %>
    <%= f.label :deck_chair, 'デッキチェア' %>
    <%= f.check_box :relax_chair %>
    <%= f.label :relax_chair, 'リラックスチェア' %>
    <%= f.check_box :bench %>
    <%= f.label :bench, 'ベンチ（背もたれあり）' %>
    <%= f.check_box :bench_non_backrest %>
    <%= f.label :bench_non_backrest, 'ベンチ（背もたれなし）' %>
  </div>
  <div class="search_field">
    <%= f.label :rest_area, '環境' %>
    <%= f.check_box :indoor %>
    <%= f.label :indoor, '室内' %>
    <%= f.check_box :outdoor %>
    <%= f.label :outdoor, '室外' %>
  </div>
  <div class="search_field">
    <%= f.label :sex, '性別' %>
    <%= f.radio_button :sex, :"男性" %>
    <%= f.label :sex ,"男性" %>
    <%= f.radio_button :sex, :"女性" %>
    <%= f.label :sex ,"女性" %>
  </div>
  <%= f.submit "検索_未実装",name: :search%>
<% end %>
<h3>最近評価された施設</h3>
<% @reviews.each do |review| %>
  <div class="facility_review">
  <%= link_to facility_path(review.facility.id) do %>
    <%= review.facility.name %>
    <%= review.facility.prefecture + review.facility.address %>
  <% end %>
  <br>
  <%= link_to review_path(review.id) do %>
    <%= "#{review.user.name}さんの評価："%>
    <%= "★" * (review.dry + review.light + review.wide) %><br>
    <%= "#{review.comment}" %>
  <% end %>
  </div>
<% end %>
<h3>最近更新された施設</h3>
<% @facilities.each do |facility| %>
  <%= link_to facility_path(facility.id) do %>
    <%= facility.name %>
    <%= facility.prefecture + facility.address %>
  <% end %>
  <br>
<% end %>
<br>
<%= link_to "もっと見る" , facilities_path %>
<br>
<h2>以下、未実装</h2>
<h3>都道府県</h3>
<%= link_to '北海道' , facilities_path %>
<br>
<%= link_to '青森' , facilities_path %>
<%= link_to '岩手' , facilities_path %>
<%= link_to '宮城' , facilities_path %>
<%= link_to '秋田' , facilities_path %>
<%= link_to '山形' , facilities_path %>
<%= link_to '福島' , facilities_path %>
<br>
<%= link_to '茨城' , facilities_path %>
<%= link_to '栃木' , facilities_path %>
<%= link_to '群馬' , facilities_path %>
<%= link_to '埼玉' , facilities_path %>
<%= link_to '千葉' , facilities_path %>
<%= link_to '東京' , facilities_path %>
<%= link_to '神奈川' , facilities_path %>
<br>
<%= link_to '新潟' , facilities_path %>
<%= link_to '富山' , facilities_path %>
<%= link_to '石川' , facilities_path %>
<%= link_to '福井' , facilities_path %>
<%= link_to '山梨' , facilities_path %>
<%= link_to '長野' , facilities_path %>
<br>
<%= link_to '岐阜' , facilities_path %>
<%= link_to '静岡' , facilities_path %>
<%= link_to '愛知' , facilities_path %>
<%= link_to '三重' , facilities_path %>
<br>
<%= link_to '滋賀' , facilities_path %>
<%= link_to '京都' , facilities_path %>
<%= link_to '大阪' , facilities_path %>
<%= link_to '兵庫' , facilities_path %>
<%= link_to '奈良' , facilities_path %>
<%= link_to '和歌山' , facilities_path %>
<br>
<%= link_to '鳥取' , facilities_path %>
<%= link_to '島根' , facilities_path %>
<%= link_to '岡山' , facilities_path %>
<%= link_to '広島' , facilities_path %>
<%= link_to '山口' , facilities_path %>
<%= link_to '徳島' , facilities_path %>
<%= link_to '香川' , facilities_path %>
<%= link_to '愛媛' , facilities_path %>
<%= link_to '高知' , facilities_path %>
<br>
<%= link_to '福岡' , facilities_path %>
<%= link_to '佐賀' , facilities_path %>
<%= link_to '長崎' , facilities_path %>
<%= link_to '熊本' , facilities_path %>
<%= link_to '大分' , facilities_path %>
<%= link_to '宮崎' , facilities_path %>
<%= link_to '鹿児島' , facilities_path %>
<%= link_to '沖縄' , facilities_path %>
