<% if user_signed_in? %>
<%= link_to '施設登録' , new_facility_path %>
<% end %>
<br>
<div class="search_container">
  <h3>検索</h3>
  <%= search_form_for @chair, url: facilities_path do |f| %>
  <div class="col-md-10">
    <%= f.search_field :facility_name ,placeholder:"例）東京 かるまる", class:"form-control form-control-lg"%>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :chair, '場所' %>
      <%= f.radio_button :rest_area_id_eq, '', checked: true ,class:"btn-check",id:"none"%>
      <%= f.label :chairs_rest_area_id, '未選択' ,class:"btn btn-outline-success" ,for:"none"%>
      <%= f.radio_button :rest_area_id_eq, 1 ,class:"btn-check",id:"inside"%>
      <%= f.label :chairs_rest_area_id, '室内' ,class:"btn btn-outline-success" , for:"inside"%>
      <%= f.radio_button :rest_area_id_eq, 2 ,class:"btn-check",id:"outside"%>
      <%= f.label :chairs_rest_area_id, '室外' ,class:"btn btn-outline-success" , for:"outside"%>
    </div>
    <div class="col-md-6">
      <%= f.label :chair, '性別' %>
      <%= f.radio_button :sex_id_eq, '' ,class:"btn-check",id:"not" %>
      <%= f.label :chairs_sex_id, '未選択' ,class:"btn btn-outline-dark", for:"not"%>
      <%= f.radio_button :sex_id_eq, 1 ,class:"btn-check",id:"male"%>
      <%= f.label :chairs_sex_id, '男性' ,class:"btn btn-outline-primary", for:"male"%>
      <%= f.radio_button :sex_id_eq, 2 ,class:"btn-check",id:"female"%>
      <%= f.label :chairs_sex_id, '女性' ,class:"btn btn-outline-danger", for:"female"%>
    </div>
  </div>
  <hr>
  <div class="search_chair">
    <ul>
      <li>
        <div>設備</div>
      </li>
      <li>
        <div class="chack_box_image">
          <%= f.check_box :bath_not_in, include_hidden: false ,class:"chack_box" ,id:"bath"%>
          <label for="bath"><%= image_tag "bath.png", class:"chair_image btn"%></label>
          <%= f.label :bath, '風呂イス' ,class:"chair_label btn", for:"bath"%>
        </div>
      </li>
      <li>
        <div class="chack_box_image">
          <%= f.check_box :deck_not_in, include_hidden: false ,class:"chack_box" ,id:"deck"%>
          <label for="deck"><%= image_tag "deck.png", class:"chair_image btn"%></label>
          <%= f.label :deck, 'デッキチェア' ,class:"chair_label btn", for:"deck"%>
        </div>
      </li>
      <li>
        <div class="chack_box_image">
          <%= f.check_box :relax_not_in, include_hidden: false ,class:"chack_box" ,id:"relax"%>
          <label for="relax"><%= image_tag "relax.png", class:"chair_image btn"%></label>
          <%= f.label :relax, 'リクライニング' ,class:"chair_label btn", for:"relax"%>
        </div>
      </li>
      <li>
        <div class="chack_box_image">
          <%= f.check_box :bench_not_in, include_hidden: false ,class:"chack_box" ,id:"bench"%>
          <label for="bench"><%= image_tag "bench.png", class:"chair_image btn"%></label>
          <%= f.label :bench, 'ベンチ' ,class:"chair_label btn", for:"bench"%>
        </div>
      </li>
      <li>
        <div class="chack_box_image">
          <%= f.check_box :bench_non_backrest_not_in, include_hidden: false ,class:"chack_box" ,id:"bench_non"%>
          <label for="bench_non"><%= image_tag "bench_non.png", class:"chair_image btn"%></label>
          <%= f.label :bench_non_backrest, 'ベンチ(背なし)' ,class:"chair_label btn", for:"bench_non"%>
        </div>
      </li>
    </ul>
  </div>


  <br>
  <%= f.submit "search",name: :search,value: "search"%>
  <% end %>
</div>
<div class="new_review_container">
  <hr>
  <h3>最近評価された施設</h3>
  <% @new_reviews.each do |review| %>
  <div class="facility_review">
    <%= link_to facility_path(review.facility.id) do %>
    <h5><%= review.facility.name + "　" + review.facility.prefecture + review.facility.address %></h5>
    <%= "#{review.user.name}さんの評価："%>
    <%= "★" * (review.dry + review.light + review.wide) %><br>
    <%= "#{review.comment}" %>
    <% end %>
  </div>
  <% end %>
</div>
<div class="new_facility_container">
  <hr>
  <h3>最近更新された施設</h3>
  <% @new_facilities.each do |facility| %>
  <%= link_to facility_path(facility.id) do %>
  <h5><%= facility.name + "　" + facility.prefecture + facility.address %></h5>
  <% end %>
  <% end %>
  <br>
  <%= link_to '全ての施設を見る', controller: "facilities", action: "index", q: { search: "all" }%>
</div>

<div class="country_container">

  <hr>
  <h3>都道府県</h3>
  <%= link_to '北海道', controller: "facilities", action: "index", q: { facility_name: '北海道' ,search: "search" }%>
  <br>
  <%= link_to '青森', controller: "facilities", action: "index", q: { facility_name: '青森' ,search: "search"} %>
  <%= link_to '岩手', controller: "facilities", action: "index", q: { facility_name: '岩手' ,search: "search"} %>
  <%= link_to '宮城', controller: "facilities", action: "index", q: { facility_name: '宮城' ,search: "search"} %>
  <%= link_to '秋田', controller: "facilities", action: "index", q: { facility_name: '秋田' ,search: "search"} %>
  <%= link_to '山形', controller: "facilities", action: "index", q: { facility_name: '山形' ,search: "search"} %>
  <%= link_to '福島', controller: "facilities", action: "index", q: { facility_name: '福島' ,search: "search"} %>
  <br>
  <%= link_to '茨城', controller: "facilities", action: "index", q: { facility_name: '茨城' ,search: "search"} %>
  <%= link_to '栃木', controller: "facilities", action: "index", q: { facility_name: '栃木' ,search: "search"} %>
  <%= link_to '群馬', controller: "facilities", action: "index", q: { facility_name: '群馬' ,search: "search"} %>
  <%= link_to '埼玉', controller: "facilities", action: "index", q: { facility_name: '埼玉' ,search: "search"} %>
  <%= link_to '千葉', controller: "facilities", action: "index", q: { facility_name: '千葉' ,search: "search"} %>
  <%= link_to '東京', controller: "facilities", action: "index", q: { facility_name: '東京' ,search: "search"} %>
  <%= link_to '神奈川', controller: "facilities", action: "index", q: { facility_name: '神奈川' ,search: "search"} %>
  <br>
  <%= link_to '新潟', controller: "facilities", action: "index", q: { facility_name: '新潟' ,search: "search"} %>
  <%= link_to '富山', controller: "facilities", action: "index", q: { facility_name: '富山' ,search: "search"} %>
  <%= link_to '石川', controller: "facilities", action: "index", q: { facility_name: '石川' ,search: "search"} %>
  <%= link_to '福井', controller: "facilities", action: "index", q: { facility_name: '福井' ,search: "search"} %>
  <%= link_to '山梨', controller: "facilities", action: "index", q: { facility_name: '山梨' ,search: "search"} %>
  <%= link_to '長野', controller: "facilities", action: "index", q: { facility_name: '長野' ,search: "search"} %>
  <br>
  <%= link_to '岐阜', controller: "facilities", action: "index", q: { facility_name: '岐阜' ,search: "search"} %>
  <%= link_to '静岡', controller: "facilities", action: "index", q: { facility_name: '静岡' ,search: "search"} %>
  <%= link_to '愛知', controller: "facilities", action: "index", q: { facility_name: '愛知' ,search: "search"} %>
  <%= link_to '三重', controller: "facilities", action: "index", q: { facility_name: '三重' ,search: "search"} %>
  <br>
  <%= link_to '滋賀', controller: "facilities", action: "index", q: { facility_name: '滋賀' ,search: "search"} %>
  <%= link_to '京都', controller: "facilities", action: "index", q: { facility_name: '京都' ,search: "search"} %>
  <%= link_to '大阪', controller: "facilities", action: "index", q: { facility_name: '大阪' ,search: "search"} %>
  <%= link_to '兵庫', controller: "facilities", action: "index", q: { facility_name: '兵庫' ,search: "search"} %>
  <%= link_to '奈良', controller: "facilities", action: "index", q: { facility_name: '奈良' ,search: "search"} %>
  <%= link_to '和歌山', controller: "facilities", action: "index", q: { facility_name: '和歌山' ,search: "search"} %>
  <br>
  <%= link_to '鳥取', controller: "facilities", action: "index", q: { facility_name: '鳥取' ,search: "search"} %>
  <%= link_to '島根', controller: "facilities", action: "index", q: { facility_name: '島根' ,search: "search"} %>
  <%= link_to '岡山', controller: "facilities", action: "index", q: { facility_name: '岡山' ,search: "search"} %>
  <%= link_to '広島', controller: "facilities", action: "index", q: { facility_name: '広島' ,search: "search"} %>
  <%= link_to '山口', controller: "facilities", action: "index", q: { facility_name: '山口' ,search: "search"} %>
  <%= link_to '徳島', controller: "facilities", action: "index", q: { facility_name: '徳島' ,search: "search"} %>
  <%= link_to '香川', controller: "facilities", action: "index", q: { facility_name: '香川' ,search: "search"} %>
  <%= link_to '愛媛', controller: "facilities", action: "index", q: { facility_name: '愛媛' ,search: "search"} %>
  <%= link_to '高知', controller: "facilities", action: "index", q: { facility_name: '高知' ,search: "search"} %>
  <br>
  <%= link_to '福岡', controller: "facilities", action: "index", q: { facility_name: '福岡' ,search: "search"} %>
  <%= link_to '佐賀', controller: "facilities", action: "index", q: { facility_name: '佐賀' ,search: "search"} %>
  <%= link_to '長崎', controller: "facilities", action: "index", q: { facility_name: '長崎' ,search: "search"} %>
  <%= link_to '熊本', controller: "facilities", action: "index", q: { facility_name: '熊本' ,search: "search"} %>
  <%= link_to '大分', controller: "facilities", action: "index", q: { facility_name: '大分' ,search: "search"} %>
  <%= link_to '宮崎', controller: "facilities", action: "index", q: { facility_name: '宮崎' ,search: "search"} %>
  <%= link_to '鹿児島', controller: "facilities", action: "index", q: { facility_name: '鹿児島' ,search: "search"} %>
  <%= link_to '沖縄', controller: "facilities", action: "index", q: { facility_name: '沖縄' ,search: "search"} %>
</div>
