<div class="facility_show_1st">
  <div class="name">
    <h2><%= @facility.name %></h2>
  </div>
  <div class="show_button">
  <% if user_signed_in? %>
    <ul>
      <li id="favorite-btn-<%= @facility.id %>">
        <%= render partial: 'favorite_facilities/favorite', locals: {facility: @facility} %>
      </li>
      <div class="review_potision">
      <li><%= label :review,"評価・コメントする" , for:"review" %></li>
      <%= check_box_tag "review" ,"",false,class:"chack_box"%>
      <label id="review_popup" for="">
        <%= render 'reviews/form'%>
      </label>
      </div>
      <li><%= link_to '情報編集' , edit_facility_path(@facility.id) %></li>
      <% if current_user.admin?%>
      <li><%= link_to '削除', facility_path(@facility.id),method: :delete ,data: { confirm: '削除します' } %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
  <div class="address">
    <h5><%= @facility.prefecture + @facility.address %></h5>
  </div>
  <div class="image">
    <%= "No Image" unless @facility&.image?%>
    <%= image_tag @facility&.image.send("thumb_#{@facility.thumb_direction}").url if @facility&.image? %>
  </div>
  <div id="map" class="map" style='width: 560px; height: 320px;'></div>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
      {
        "lat": <%= @facility.latitude %>,
        "lng": <%= @facility.longitude %>,
      }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  </script>
</div>
<hr>
<h2>設備</h2>
<div class="facility_show_2nd">
  <div class="label1">男湯</div>
  <div class="label2">女湯</div>
  <div class="label3">室内</div>
  <div class="label4">外気浴</div>
  <div class="label5">サウナ</div>
  <div class="label6">水風呂</div>
  <div class="male_inside">
    <% @male_in_chairs.each do |chair| %>
    <tr>
      <td><%= chair&.bath && "風呂イス#{chair.bath}" %></td>
      <td><%= chair&.deck && "デッキチェア#{chair.deck}" %></td>
      <td><%= chair&.relax && "リクライニング#{chair.relax}" %></td>
      <td><%= chair&.bench && "ベンチ#{chair.bench}" %></td>
      <td><%= chair&.bench_non_backrest && "ベンチ(背なし)#{chair.bench_non_backrest}" %></td>
    </tr>
    <% end %>
  </div>
  <div class="male_outside">
    <% @male_out_chairs.each do |chair| %>
    <tr>
      <td><%= chair&.bath && "風呂イス#{chair.bath}" %></td>
      <td><%= chair&.deck && "デッキチェア#{chair.deck}" %></td>
      <td><%= chair&.relax && "リクライニング#{chair.relax}" %></td>
      <td><%= chair&.bench && "ベンチ#{chair.bench}" %></td>
      <td><%= chair&.bench_non_backrest && "ベンチ(背なし)#{chair.bench_non_backrest}" %></td>
    </tr>
    <% end %>
  </div>
  <div class="female_inside">
    <% @female_in_chairs.each do |chair| %>
    <tr>
      <td><%= chair&.bath && "風呂イス#{chair.bath}" %></td>
      <td><%= chair&.deck && "デッキチェア#{chair.deck}" %></td>
      <td><%= chair&.relax && "リクライニング#{chair.relax}" %></td>
      <td><%= chair&.bench && "ベンチ#{chair.bench}" %></td>
      <td><%= chair&.bench_non_backrest && "ベンチ(背なし)#{chair.bench_non_backrest}" %></td>
    </tr>
    <% end %>
  </div>
  <div class="female_outside">
    <% @female_out_chairs.each do |chair| %>
    <tr>
      <td><%= chair&.bath && "風呂イス#{chair.bath}" %></td>
      <td><%= chair&.deck && "デッキチェア#{chair.deck}" %></td>
      <td><%= chair&.relax && "リクライニング#{chair.relax}" %></td>
      <td><%= chair&.bench && "ベンチ#{chair.bench}" %></td>
      <td><%= chair&.bench_non_backrest && "ベンチ(背なし)#{chair.bench_non_backrest}" %></td>
    </tr>
    <% end %>
  </div>
  <div class="male_sauna">
    <% @male_saunas.each do |sauna| %>
    <tr>
      <td><%= sauna.temperature %>℃</td>
      <td><%= sauna.intern %>人</td>
      <td><%= sauna.comment %></td>
    </tr>
    <% end %>
  </div>
  <div class="female_sauna">
    <% @female_saunas.each do |sauna| %>
    <tr>
      <td><%= sauna.temperature %>℃</td>
      <td><%= sauna.intern %>人</td>
      <td><%= sauna.comment %></td>
    </tr>
    <% end %>
  </div>
  <div class="male_water">
    <% @male_water_baths.each do |water| %>
    <tr>
      <td><%= water.temperature %>℃</td>
      <td><%= water.intern %>人</td>
      <td><%= water.comment %></td>
    </tr>
    <% end %>
  </div>
  <div class="female_water">
    <% @female_water_baths.each do |water| %>
    <tr>
      <td><%= water.temperature %>℃</td>
      <td><%= water.intern %>人</td>
      <td><%= water.comment %></td>
    </tr>
    <% end %>
  </div>
</div>
<hr>
<h2>店舗情報</h2>
<div class="facility_show_3rd">
  <div class="facility">
    <ul>
      <li>施設名</li>
      <li>　<%= @facility.name %></li>
      <li>住所</li>
      <li>　<%= @facility.prefecture + @facility.address %></li>
      <li>ホームページ</li>
      <li>　<%= link_to @facility.homepage , @facility.homepage %></li>
      <li>営業時間</li>
      <li>　<%= @facility.business_hours %></li>
      <li>定休日</li>
      <li>　<%= @facility.holiday %></li>
      <li>利用料金</li>
      <li>　<%= @facility.fee %></li>
      <li>支払い方法</li>
      <li>　<%= @facility.payment %></li>
      <li>更新日</li>
      <li>　<%= @facility.updated_at.strftime('%Y/%m/%d') %></li>
    </ul>
  </div>

<hr>
<h2>ユーザーのコメント</h2>
<% @reviews.each do |review| %>
  <div class="facility_show_4th">
    <div class="name">
      <%= review.user.name %>
    </div>
    <div class="review">
        湿度:★<%= review.dry %>　
        明るさ:★<%= review.light %>　
        広さ:★<%= review.wide %>　
    </div>
    <div class="created_at">
      投稿日
      <%= review.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="comment">
      <%= review.comment %>
    </div>
  </div>
<hr>
<% end %>

<a href="javascript:history.back()">[戻る]</a>
