<% if user_signed_in? %>
  <%= link_to '評価・コメントをする' , new_review_path(facility_id: @facility.id) %>

  <span id="favorite-btn-<%= @facility.id %>">
    <%= render partial: 'favorite_facilities/favorite', locals: {facility: @facility} %>
  </span>

  <%= link_to '情報編集' , edit_facility_path(@facility.id) %>
  <%= link_to '削除', facility_path(@facility.id),method: :delete ,data: { confirm: '削除します' } %>
<% end %>
<div class="facility_show">
  <div class="facility_show_top">
    <h2><%= @facility.name %></h2>
    <%= @facility.prefecture + @facility.address %>
  </div>

  <div class="facility_show_left">
    <div id="map" style='width: 600px; height: 400px;'></div>
  </div>

  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
      {
        "lat": <%= @facility.latitude %>,
        "lng": <%= @facility.longitude %>,
      }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  </script>

<br>
<h2>施設情報</h2>
<table>
<tr>
  <th>施設名</th>
  <th>県名</th>
  <th>住所</th>
  <th>ホームページ</th>
  <th>営業時間</th>
  <th>定休日</th>
  <th>利用料金</th>
  <th>支払い方法</th>
  <th>備考</th>
</tr>
<tr>
  <td><%=@facility.name%></td>
  <td><%=@facility.prefecture%></td>
  <td><%=@facility.address%></td>
  <td><%=@facility.homepage%></td>
  <td><%=@facility.business_hours%></td>
  <td><%=@facility.holiday%></td>
  <td><%=@facility.fee%></td>
  <td><%=@facility.payment%></td>
  <td><%=@facility.comment%></td>
</tr>
</table>


<h3>サウナ情報</h3>
<table>
<tr>
  <th>性別</th>
  <th>温度</th>
  <th>収容人数</th>
  <th>コメント</th>
</tr>
<% @saunas.each do |sauna| %>
<tr>
  <td><%= sauna.sex.sex %></td>
  <td><%= sauna.temperature %></td>
  <td><%= sauna.intern %></td>
  <td><%= sauna.comment %></td>
</tr>
<% end %>
</table>



<h3>水風呂情報</h3>
<table>
<tr>
  <th>性別</th>
  <th>温度</th>
  <th>収容人数</th>
  <th>コメント</th>
</tr>
<% @water_baths.each do |water| %>
<tr>
  <td><%= water.sex.sex %></td>
  <td><%= water.temperature %></td>
  <td><%= water.intern %></td>
  <td><%= water.comment %></td>
</tr>
<% end %>
</table>




<h3>休憩エリア情報</h3>
<table>
<tr>
  <th>性別</th>
  <th>場所</th>
  <th>風呂イス</th>
  <th>デッキチェア</th>
  <th>リラックスチェア</th>
  <th>ベンチ</th>
  <th>背もたれなしベンチ</th>
  <th>コメント</th>
</tr>
<% @chairs.each do |chair| %>
<tr>
  <td><%= chair.sex.sex %></td>
  <td><%= chair.rest_area.area %></td>
  <td><%= chair.bath %></td>
  <td><%= chair.deck %></td>
  <td><%= chair.relax %></td>
  <td><%= chair.bench %></td>
  <td><%= chair.bench_non_backrest %></td>
  <td><%= chair.comment %></td>
</tr>
<% end %>
</table>

<a href="javascript:history.back()">[戻る]</a>
