<h2>facility#show.html</h2>
<%= link_to '評価・コメントをする' , new_review_path(facility_id: @facility.id) %>
<%= link_to 'お気に入り追加' , facilities_path %>
<%= link_to '情報編集' , edit_facility_path(@facility.id) %>
<%= link_to '削除', facility_path(@facility.id),method: :delete ,data: { confirm: '削除します' } %>

<br>
<h2>施設情報</h2>
<table>
<tr>
  <th>施設名</th>
  <th>県名</th>
  <th>住所</th>
  <th>ホームページ</th>
  <th>営業時間</th>
  <th>定休日</th>
  <th>利用料金</th>
  <th>支払い方法</th>
  <th>備考</th>
</tr>
<tr>
  <td><%=@facility.name%></td>
  <td><%=@facility.prefecture%></td>
  <td><%=@facility.address%></td>
  <td><%=@facility.homepage%></td>
  <td><%=@facility.business_hours%></td>
  <td><%=@facility.holiday%></td>
  <td><%=@facility.fee%></td>
  <td><%=@facility.payment%></td>
  <td><%=@facility.comment%></td>
</tr>
</table>

<% @saunas.each do |sauna| %>
<h3>サウナ情報</h3>
<table>
<tr>
  <th>性別</th>
  <th>温度</th>
  <th>収容人数</th>
  <th>コメント</th>
</tr>
<tr>
  <td><%=sauna.sex%></td>
  <td><%=sauna.temperature%></td>
  <td><%=sauna.intern%></td>
  <td><%=sauna.comment%></td>
</tr>
</table>
<% end %>

<a href="javascript:history.back()">[戻る]</a>
