<div class="top_container">
  <%= link_to facilities_search_path do %>
    <%= image_tag "title_logo.png" , class:'title' %>
    <h2>探しにいく</h2>
  <% end %>
  <div class="comment">
    <p>サウナ活動には休憩エリアが必要不可欠</p>
    <p>このサイトはクールダウン環境がある施設を集めたサイトです</p>
    <p>よりよき、ととのいライフを！！！</p>
  </div>

  <div class="top_image">
    <%= image_tag "bath.png" ,class:'col-2'%>
    <%= image_tag "deck.png" ,class:'col-2'%>
    <%= image_tag "relax.png" ,class:'col-2'%>
    <%= image_tag "bench.png" ,class:'col-2'%>
    <%= image_tag "bench_non.png" ,class:'col-2' %>
  </div>
    <% unless user_signed_in? %>
    <ul class="guest_login">
      <li><%= link_to '一般者ログイン(ゲスト)' , users_guest_sign_in_path, method: :post %></li>
      <li><%= link_to '管理者ログイン(ゲスト)' , users_admin_guest_sign_in_path , method: :post %></li>
      <li><%= link_to 'letter_opener_web(アカウント認証用)', letter_opener_web_path , target: :_blank, rel: "noopener noreferrer"%></li>
    </ul>
    <% end %>
</div>
