<!DOCTYPE html>
<html>
  <head>
    <title>TotoSupo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="header">
      <%= link_to root_path ,class:"top_menu_left_image" do %>
        <%= image_tag "logo.png" , class:"logo"%>
      <% end %>
    <div class="header_container">
    <ul class="top_menu_left">
      <li><%= link_to 'このサイトについて' , about_path %></li>
      <li><%= link_to '探しにいく' , facilities_search_path %></li>
      <% if user_signed_in? %>
        <li><%= "こんにちは、#{current_user.name} さん" %></li>
      <% end %>
    </ul>
    <ul class="top_menu_right">
    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト' , destroy_user_session_path ,method: :delete%></li>
      <li><%= link_to 'マイページ' , user_path(1) %></li>
      <% else %>
      <li><%= link_to 'ログイン' , new_user_session_path %></li>
      <li><%= link_to '新規登録' , new_user_registration_path %></li>
    <% end %>
    </ul>
</div>
    </header>
    <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
    <div class="wrapper">
    <%= yield %>
    </div>
    <footer class="footer">
    <p>Created by Hibasan2105</p>
    </footer>

  </body>
</html>
